<head>

</head>

<div id="index-container" class="container-fluid">
    <div class="row">
        <div id="index-body" class="col-xs-4 col-xs-offset-4" align="center">
            <h2 class="index-h2">Volunteers</h2>
            <div>
                <button id="volunteer-login-btn" type="button" class="btn btn-primary index-btn">Volunteer Login</button>
            </div>
            <div>
                <button id="volunteer-sign-up-btn" type="button" class="btn btn-primary index-btn">Volunteer Sign Up</button>
            </div>
            <h2 class="index-h2">Organizations</h2>
            <div>
                <button id="org-login-btn" type="button" class="btn btn-primary index-btn">Organization Login</button>
            </div>
            <div>
                <button id="org-sign-up-btn" type="button" class="btn btn-primary index-btn">Organization Sign Up</button>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    $("#org-login-btn").click(function(){
        window.location.href="/org-sign-in";
    });
	$("#org-sign-up-btn").click(function(){
        window.location.href="/org-sign-up";
    });
    $("#volunteer-login-btn").click(function(){
        window.location.href="/volunteer-sign-in";
    });
    $("#volunteer-sign-up-btn").click(function(){
        window.location.href="/volunteer-sign-up";
    });
</script>