<!doctype html>
<html>
<head>
  <title>VolunteerNow</title>

  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">

  <!-- styles -->
  <link rel="stylesheet" type="text/css" media="all" href="/css/main.css" >
  <link rel="stylesheet" type="text/css" media="all" href="/css/sign-up.css">
</head>

<body>
  {{> "header" }}

  <div id="main-container">
    {{{ body }}}
  </div>

  {{> "footer" }}
</body>
</html>
