<div id="admin-sign-in-container" class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4" align="center">
            <form class="admin-sign-in-form" action="admin-sign-in" method="POST">
                <div class="form-fields-container">
                    <label for="sign-in-email">Email: </label>
                    <input id="sign-in-email" type="text" name="sign_in_email">
                </div>
                <div class="form-fields-container">
                    <label for="sign-in-password">Password: </label>
                    <input id="sign-in-password" type="password" name="sign_in_password">
                </div>
                <div class="form-fields-container">
                    <button type="submit" class="btn index-btn">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>
