<head>

</head>

<div id="index-container" class="container-fluid">
    <div class="row">
        <div id="index-body" class="col-xs-8 col-xs-offset-2" align="center">
            <h3>Welcome to Volunteer Now!</h3>
            <br>
            <div>
                <button id="browse-events-btn" type="button" class="btn index-btn"><strong>Browse Volunteer Events</strong></button>
            </div>
            <p>Please indicate if you are a Volunteer or an Organization:</p>
            <h2 class="index-h2">Volunteers</h2>
            <div>
                <button id="volunteer-login-btn" type="button" class="btn index-btn"><strong>Volunteer Login</strong></button>
            </div>
            <div>
                <button id="volunteer-sign-up-btn" type="button" class="btn index-btn"><strong>Volunteer Sign Up</strong></button>
            </div>
            <h2 class="index-h2">Organizations</h2>
            <div>
                <button id="org-login-btn" type="button" class="btn index-btn"><strong>Organization Login</strong></button>
            </div>
            <div>
                <button id="org-sign-up-btn" type="button" class="btn index-btn"><strong>Organization Sign Up</strong></button>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    $("#org-login-btn").click(function(){
        window.location.href="/org-sign-in";
    });
	$("#org-sign-up-btn").click(function(){
        window.location.href="/org-sign-up";
    });
    $("#volunteer-login-btn").click(function(){
        window.location.href="/volunteer-sign-in";
    });
    $("#volunteer-sign-up-btn").click(function(){
        window.location.href="/volunteer-sign-up";
    });
    $("#browse-events-btn").click(function () {
        window.location.href = "/browse-events";
    });
</script>