<head>
    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="/css/organization.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/main.css">
</head>

<div class="container-fluid background">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 background-container">
            <div id="event-submitted-container">
                <h2>Thank you for creating an event with Volunteer Now!</h2>
                <p>Your event will now be available for volunteers to sign up. </p>
            </div>
        </div>
    </div>
</div>