<div id="index-container">
  <form class="index-sign-in-form" action="org-sign-in" method="POST">
    <div class="form-fields-container">
      <label for="sign-in-email">Email: </label>
      <input id="sign-in-email" type="text" name="sign_in_email">
    </div>

    <div class="form-fields-container">
      <label for="sign-in-password">Password: </label>
      <input id="sign-in-password" type="password" name="sign_in_password">
    </div>

    <div class="form-fields-container">
      <button type="submit">Sign In</button>
    </div>
  </form>
</div>