<!DOCTYPE html>
<html>
<title> Account submitted </title>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
                <h3> Thank you for signing up with Volunteer Now!</h3>
                <p> Your account has been submitted for approval. You will be notified once your account has been approved and is available for use! <p>
            </div>
        </div>
    </div>
</body>
</html>
