<div id="volunteer-profile-container">
  <h1>{{volunteer_name}}</h1>

  <p>Welcome to Volunteer Now!</p>
  <p>View events you are volunteered for here <a href="#">TODO</a></p>
  <br>
  <p>Update your personal details <a href="/volunteer-edit">HERE</a></p>
</div>

