<div id="sign-in-container">
  <form class="sign-in-form" action="volunteer-sign-in" method="POST">
    <div class="form-fields-container">
      <label for="sign-in-email">Email: </label>
      <input id="sign-in-email" type="text" name="volunteer_email">
    </div>

    <div class="form-fields-container">
      <label for="sign-in-password">Password: </label>
      <input id="sign-in-password" type="password" name="volunteer_password">
    </div>

    <div class="form-fields-container">
      <button type="submit">Sign In</button>
    </div>
  </form>
</div>