#header-body {
    background-color: #6E1D94;
    min-height: 90px;
}

#footer-body {
    background-color: #6E1D94;
    min-height: 45px;
}

.footer-h4{
  margin:auto;
  color:#ffffff;
}

/*#header-container, #main-container, #footer-container {
  min-width: 320px;
  max-width: 640px;
  margin: auto;
  padding: 10px;
}

#header-container, #footer-container {
  text-align: center;
}*/

#footer-container{
  padding-top: 15px;
}

#title-text{
  color: #ffffff;
  padding-top: 10px;
}

.form-fields-container {
  padding: 10px 0;
}

.pending-organization {
  padding: 10px 0;
}

#index-container{
  background-color: #F9A0F9;
  padding-bottom: 20px;
}

.index-h2{
  color: #6D006D;
}

.index-btn{
  color: #6D006D;
  background-color: #ffffff;
  border-color: #6D006D;
  margin:5px;
  width:175px;
}

    .index-btn:hover, .index-btn:active, .index-btn:focus {
        color: #6D006D;
        background-color: #b716b7;
        border-color: #6D006D;
    }

#vol-sign-in-container {
    background-color: #9CB1E4;
    color: #061D52;
}

.vol-login-btn {
    color: #061D52;
    background-color: #ffffff;
    border-color: #061D52;
    margin: 5px;
    width: 175px;
}

    .vol-login-btn:hover, .vol-login-btn:active, .vol-login-btn:focus {
        color: #ffffff;
        background-color: #0538AF;
        border-color: #061D52;
    }