#organization-sign-in-container{
    background-color:#FDA3BD;
}

.org-sign-in-bg{
    background-color:#EB1D58;
}

.org-sign-in-btn{
    color: #97002B;
    background-color: #ffffff;
    border-color: #97002B;
    margin:5px;
    min-width:175px;
}

.org-sign-in-btn:hover{
    background-color: #EB1D58;
    border-color: #97002B;
}

.org-sign-in-form{
    color: #97002B;
}

.org-sign-in-h2{
    color: #97002B;
  }

#org-events-container {
    background-color: #CD90EA;
}

.org-event-item {
    margin-bottom:15px;
    background-color: #ffffff;
}

.org-event-item:hover {
    cursor:pointer;
}